*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}
body{
	background-color: #fbfee7;

} 
/*//#f2fccf;*/

/*body {
  background-color: tan;
  color: black;
}*/

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .brand img{
    left: 0px;
    top: 0px;
    width: 100px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
.brand img{
    left: 0px;
    top: 0px;
    width: 100px;
  }
  body{

  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 480px) {
 img.brand{
    left: 0px;
    top: 0px;
    width: 10px;
  }
  .nav-link{
  font-size: 20px;
  display: block;
}
}

html{
	scroll-behavior: smooth;
}
.navbar {
  background-color: #001a2e;
  height:90px;
  padding-right:40px ;
  box-shadow: 0px 3px 35px 0.25px rgba(0, 0, 0, 0.10);
}
.brand img{
  width: 350px;
  height: 90px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.nav-link{
	font-size: 20px;
  display: block;
}
.nav-link a{
  text-decoration: none;
  display: inline-block;
}
.nav-link a:hover{
color: #ff4500;
}
.toggle-button{
  position: absolute;
  top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.card-body{
  padding-right: 20px;
  box-shadow: 0px 3px 35px 0.25px rgba(0, 0, 0, 0.10);
}
.card-body:hover{
	background-color: #00457b;
    color: white;
}
.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s ease-in-out both;
	        animation: slide-in-bottom 1s ease-in-out both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.banner{
	background-image: url(../images/banner.jpg);
	background-position: 50% 50%;
	width: 100%;
	height:550px;
	margin-top:5px;
	padding:100px;
	z-index: 35;
}
.banner-course{
  background-image: url(../images/course.jfif);
  background-position: 50% 50%;
  width: 100%;
  height:550px;
  margin-top:5px;
  padding:100px;
  z-index: 35;
  background-repeat: no-repeat;
}
.banner-content{
	margin-top: 100px;
}
h1{
font-weight: 500;
text-transform: uppercase;
color: white;
}
/*.navbar-brand{
  position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../images/vhagwon-logo.jpg);
    background-size: 103%;
    background-color: transparent;
    width: 445px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}*/
.footer{
	background-color: #001a2e;
	text-align: center;
	color: white;
	font-size: 30px;
	position: inherit;
	bottom:0;
	width:100%;
  position: fixed;
}

/*End*/

.btn{
  width: 490px;
  height: 50px;
  background-color: #ff4500;
  border: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration:none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
}
.btn:hover{
  background-color: #001a2e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-enroll{
  background-color: #ff4500;
  border: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
}
.btn-enroll a{
   list-style: none;
   text-decoration: none;
}
.btn-enroll:hover{
  background-color: white;
  color: #ff4500;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-addCourse, .btn-send{
  background-color: #ff4500;
  border: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration:none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
}
.btn-addCourse, .btn-send:hover{
  background-color: #001a2e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-login, .btn-register{
  background-color: #ff4500;
  border: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration:none;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 12px;
}
.btn-login, .btn-register:hover{
  background-color: #001a2e;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#projects img{
border-radius: 8px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 120px;
}




/*.topnav {
  overflow: hidden;
  background-color: #a4d8ff;
  justify-content: right;

}
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
ul, li{
  list-style: none;
}
.form-row{
  margin: 2px;  
}

.fa{
  font-size: 30px;
  color: currentColor;
}
.about-me{
  padding: 10px;
}
.about-text{
  text-align: center;
  line-height: 1.8;
  font-size: 27px;
}
#home h1, h2{
font-family: 'Xanh Mono', monospace !important;
text-align: center;
color: #ffffff;
}

.container h1, h2{
  color: white;
  font-weight: 2px;
}
.page-scroll a{
  font-size: 50px;
}
.projects{
  background-color: #ffcba4;
}
#about, #projects, #contact{
  background-color: #f8ead9;
}
#home{
  background-image: url(../images/home.jpg);
  background-size: auto;
  padding: 100px;
}*/

ul, li{
  list-style: none;
}
.form-row{
  margin: 2px;  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.about-me{
  padding: 10px;
}
.about-text{
  text-align: center;
  line-height: 1.8;
  font-size: 27px;
}
#home h1, h2{
font-family: 'Xanh Mono', monospace !important;
text-align: center;
color: white;
}
.container h1, h2{
  color: white;
  font-weight: 2px;
}
.page-scroll a{
  font-size: 50px;
}
.projects{
  background-color: #ffcba4;
}
#about, #projects, #contact{
  background-color: #ece7fe;
}
#home{
  background-image: url(../images/home.jpg);
  background-size: auto;
  padding: 100px;
}
#projects img{
border-radius: 8px;
}
#caps2, #caps3{
font-family: 'Xanh Mono', monospace !important;
text-align: center;
color: black;
background-size: auto;
padding: 5px;
background-color: #f8ead9;
}
#caps2-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}
#caps3-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}
.text-centers{
  color: black;
  padding-left: 150px;
}
.contactAbout, .icon{
  color: black;
  padding-left: 150px;
  font-size: 20px;
}
.map{
  height: 300px;
}
#courseName n{
  color: black;
}
.text-center{
  color: black;
}